@page "/animais"

@using AppExemplo.Models;
@inject AnimalDAO animalDAO;
@inject NavigationManager Navigation
@rendermode InteractiveServer



<PageTitle>Animais</PageTitle>


<header class="topbar" style="display: flex; justify-content: space-between; align-items: center; background-color: #004b93; color: white; padding: 10px 20px;">
    <div class="logo" style="display: flex; align-items: center; gap: 10px;">
        <img src="https://img.icons8.com/color/48/000000/bird--v1.png" alt="Logo" />
        <span style="font-weight: bold; font-size: 1.2rem;">GESTÃO DE ANIMAIS</span>
    </div>

    <button @onclick="VoltarInicio"
            style="font-size: 24px; background: none; border: none; color: white; cursor: pointer;"
            title="Voltar para início">🏠</button>
</header>

<a href="/animais/novo" class="btn btn-sm btn-primary">Novo Animal</a>


<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Raça</th>
            <th>Porte</th>
            <th>Idade</th>
            <th>Espécie</th>
            <th>Nome Do Cliente</th>

        </tr>
    </thead>
    <tbody>

        @{
            @if (listaAnimais == null || !listaAnimais.Any())
                    {
                        <tr>
                            <td colspan="6" class="py-6 italic text-gray-500">Nenhum produto cadastrado</td>
                        </tr>
                    }
                    else
                    {
                        int contador = 1;
                        @foreach (var a in listaAnimais)
                        {
                            <tr class="hover:bg-blue-50 border-b border-gray-200 transition">
                                <td class="py-2 px-3 font-semibold text-gray-600">@contador</td>
                                <td class="py-2 px-3">@a.Nome</td>
                                <td class="py-2 px-3">@a.Raca</td>
                                <td class="py-2 px-3">@a.Porte</td>
                                <td class="py-2 px-3">@a.Idade</td>
                                <td class="py-2 px-3">@a.Especie</td>
                                <td class="py-2 px-3">@a.NomeCliente</td>
                            </tr>
                            contador++;
                        }
                    }
                

        }

    </tbody>
</table>

@code {
    private List<Animal> listaAnimais = new();
    

    protected override void OnInitialized()
    {
        CarregarAnimais();

    }
    private void CarregarAnimais()
    {
        listaAnimais = animalDAO.ListarTodos();
    }
    
    private void VoltarInicio()
    {
        Navigation.NavigateTo("/");
    }

}

