@page "/clientes"

@using AppExemplo.Models;
@inject ClienteDAO clienteDao;
@inject AnimalDAO animalDAO;
@inject NavigationManager Navigation


<PageTitle>Animais</PageTitle>


<header class="topbar" style="display: flex; justify-content: space-between; align-items: center; background-color: #004b93; color: white; padding: 10px 20px;">
    <div class="logo" style="display: flex; align-items: center; gap: 10px;">
        <img src="https://img.icons8.com/color/48/000000/bird--v1.png" alt="Logo" />
        <span style="font-weight: bold; font-size: 1.2rem;">GESTÃO DE CLIENTES</span>
    </div>

    <button @onclick="VoltarInicio"
            style="font-size: 24px; background: none; border: none; color: white; cursor: pointer;"
            title="Voltar para início">🏠</button>
</header>

<a href="/clientes/novo" class="btn btn-sm btn-primary">Novo Cliente</a>


<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>RG</th>
            <th>Data de Nascimento</th>
            <th>Estado</th>
            <th>Cidade</th>

        </tr>
    </thead>

    <tbody>

        @{
            int contador = 1;

            @foreach (var cliente in listaClientes)
            {
                
                <tr>
                    <td>@contador</td>
                    <td>@cliente.Nome</td>
                    <td>@cliente.CPF</td>
                    <td>@cliente.RG</td>
                    <td>@cliente.dataNascimento</td>
                    <td>@cliente.estado</td>
                    <td>@cliente.cidade</td>

                </tr>

                contador++;
            }

        }

    </tbody>
</table>

@code {
    private List<Cliente> listaClientes = new();
    private List<Animal> listaAnimais = new();

    protected override void OnInitialized()
    {
        CarregarClientes();

    }
    private void CarregarClientes()
    {
        listaClientes = clienteDao.ListarTodos();
    }
    private void VoltarInicio()
    {
        Navigation.NavigateTo("/");
    }

}

